*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html, body {
    width: 100%;
    height: 100vh;
  }

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#container{
    overflow: hidden;
}

/* Header start */
.nav{
    background-color:#251B17;
    width: 100%;
    display: flex;
}

.nav__bar{
    width: 500px;
    height: 53px;  
    margin-left: 49%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}

.bar__item>img {
    opacity: 0;
}

.bar__item:nth-child(4)>img {
    opacity: 2;
}


.bar__item div{
    margin-left: 25px;
    margin-top: -20px;
}

.nav__bar li a{
    color: #c7b18d;
    display: block;

    line-height: 25px;
    font-size: 11px;
    font-family: "Arial";
    text-transform: uppercase;
}



.slogan{
    background-color: #3B2C25;
    border: solid 1px #4c3a30;
    border-bottom: solid 1px #ffff;
}

.slogan__main{
    width: 1000px;
    height: 81px;
    margin: auto;
    background-color: #30241F;
    display: flex;
    list-style: none;
    border-left: solid 1px #4c3a30;
    border-right: solid 1px #4c3a30;
}

.slogan__main__img{
    margin-top: -275px;
    margin-left: -44px;
    display: block;
}


.slogan__main__tittle{
    display: block;
    height: 98px;
    margin-top: -30px; 
    margin-left: -100px;
    padding-right: 25px;

    color: white;
    font-size: 24px;
    font-family: "Duepuntozero";
}


.slogan__main__tittle>h1{
    font-size: 68px;
    font-weight: 500 ;
}

.slogan__main__tittle>p{
    font-size: 18px;
    color: #fae1b3;
    margin-left: 80px;
    margin-top: -15px;
}

/* Header end */


/* Main-content start */
#content{
    background-image: linear-gradient(#CFC6C0, #eeebe9);
}

.main__content{
    width: 1000px;
    margin: auto;
    padding-bottom: 75px;
    background-image: linear-gradient(#E6E2DF, #eeebe9);
    
    border-left: solid 1px #ffff;
    border-right: solid 1px #ffff;
}

.contact{
    width: 620px;
    margin-left: 32%;
    margin-right: 3%;
    
    font-size: 13px;
    line-height: 20px;
}

.contact__tittle{
    padding-top: 45px;
    padding-bottom: 25px;
    border-bottom: #cec5c0 solid 1px;
}

.contact__tittle h1{
    font-family: "Duepuntozero";
    font-weight: 500;
    font-size: 41px;
}

.contact__desc{
    margin: 20px 0px;
    color: #645a56;
    font-family: "Arial";
}


.contact__info{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.contact__info>li:nth-child(2){
    margin-left: 54px;
}

.info__item{
    display: flex;
    justify-content: space-between;
}

.info__item>div:first-child{
    font-weight: bold;
}

.info__item>div:nth-child(2){
    margin-left: 28px;
    color: #645a56;
}

.contact__form{
    display: inline-block;
}

.form__input{
    width: 464px;
}

.form__input li{
    margin-top: 15px;
}

.form__input>li>p{
    text-transform: uppercase;
    color: #645a56;
}


.form__input>li>input,.form__input>li>textarea{
    padding: 7px;
    width: 100%;
}

.btn__submit{
    padding: 10px 30px;
    float: right;
    margin-top: -8px;

    border: 1px solid #aba199;
    background-color: #cdc4be;
}

/* Main-content end */

/* Footer start */
#footer{
    background-color: #3B2C25;
}

.footer__item{
    width: 1000px;
    height: 93px;
    margin: auto;
    
    display: flex;
    list-style: none;
    border-left: solid 1px #4c3a30;
    border-right: solid 1px #4c3a30;
}

.item__img{
    width: 35%;
    height: 100%;
    background-color: #291d18;
    padding-left: 96px;
}


.item__desc {
    width: 65%;
    background-color: #32251f;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    border-left: solid 1px #4c3a30;
    
    padding: 30px 30px;
    line-height: 15px;
}

.item__desc__left {
    display:flex;
    justify-content: space-between;
}

.item__desc>p,.item__desc__left{
    color: #947664;
    
}

.item__desc span{
    color: white;
}


/* Footer end */

