/* Tablet and Mobile */
@media only screen and (max-width : 1023px){
    .contact__form{
        width: 100%;
    }
}

/* Mobile */
@media only screen and (max-width : 739px) {
    .nav__bar {
        width: 100%;
        margin-left: 0;
        justify-content: space-around;
    }

    .slogan{
        width: 100%
    }
    .slogan__main{
        width: 100%;
        height: 100%;
        display: block;
    }

    .slogan__main__tittle{
        border: none;
        margin-top: 30px;
        margin-left: 0;
        height: 100%;
        text-align: center;
        padding-right: 0;
    }

    .slogan__main__desc {
        width: 90%;
        display: block;
        margin-top: 30px;
    }

    .main__content,.footer__item, .banner__img>img {
        width: 100%;
    }

    .first__content, .second__content{
        margin-left: 10%;
    }

    .slogan__main__img{
        display: inline-block;
        margin-top: -50px;
        margin-left: 0;
    }

    .slogan__main__img>img {
        margin-top: 0;
        margin-left: 0;
        display: block;

        width: 50%;
        display: none;
    }

    .contact{
        padding-left: 10%;
        width: 100%;
    }

    .main__content{
        padding-left: 0;
    }

    .info__item>div:nth-child(2) {
        margin-left: 20px;
        color: #645a56;
    }

    .form__input>li>input, .form__input>li>textarea {
        width: 100%;
    }    

     .item__desc__left {
        display: block;
    }

    .item__img{
        width: 40%;
        padding-left: 0px;
    }

    .item__desc{
        padding: 20px 5px;
        font-size: 10px;
    }


    
}

/* Tablet */
@media only screen and (min-width : 740px) and (max-width : 1023px) {
    .nav__bar{
        margin-left: 50%;
    }

    .slogan__main{
        width: 100%;
    }

    .main__content,.footer__item {
        width: 100%;
    }

    .contact{
        width: 90%;
    }

    

}

/* PC */
@media only screen and (min-width : 1024px) {
    
}